.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #475f45;
    padding: 20px 40px;
    border: 2px solid #475f45;
    transition: all 0.3s;
}

.btn--secondary {
    background-color: transparent;
}

.btn--secondary:hover {
    box-shadow: inset 0px 0px 10px 0px;
}

.btn--primary {
    background: #475f45;
    color: #fff;
}

.btn--primary:hover {
    box-shadow: inset 0px 0px 10px 0px currentColor;
}


.btn:active {
    transform: translateY(-2px);
}